<p>tag-manager works!</p>

<!-- <div class="row justify-content-between">
    <div class="col-5">
        <label>Available items:</label>
        <input type="text" name="availableItems" (input)="searchItems($event)"/> 
        <select class="form-control" [(ngModel)]="tmpSelectedItems" multiple>
            <option *ngFor="let availableItem of availableItems" [value]="availableItem" (dblclick)="addItem()">{{availableItem}}</option>
        </select>
    </div>
    <div class="col-2">
        <div class="add-remove">
            <button type="button" class="add" (click)="addItem()"><span>-></span></button>
        </div>
        <div>
            <button type="button" class="remove" (click)="removeItem()"><span><-</span></button>
        </div>
    </div>
    <div class="col-5">
        <label>Selected items:</label>
        <input type="text" name="selectedItems" (input)="searchItems($event)"/> 
        <select multiple class="form-control"  [(ngModel)]="tmpSelectedItems">
            <option *ngFor="let selectedItem of selectedItems" [value]="selectedItem" (dblclick)="removeItem()">{{selectedItem}}</option>
        </select>
    </div>
</div> -->

